.gallery {
  position: relative;
  min-height: 70%;
  min-width: 90%;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  a {
    position: absolute;
    transition: 0.3s;
    &:hover {
      transform: scale(1.1);
      z-index: 2;
    }
  }
  img {
    width: 20vw;
    height: 15vw;
    box-shadow: 0 0 3px 3px $color-white; 
  }
}
.gallery__link-1 {
    left: calc(50% - 25vw);
    top: 0;
}
.gallery__link-2 {
    left: calc(50% + 5vw);
    top: 0;
    z-index: 1;
}
.gallery__link-3 { 
    left: calc(50% + 5vw);
    bottom: 0;
}
.gallery__link-4 {
    left: calc(50% - 25vw);
    bottom: 0;
    z-index: 1;
}
.gallery__link-5 {
    left: calc(50% - 10vw);
    top: calc(50% - 7.5vw);  
}