@media screen and (max-width: 320px) and (orientation: portrait) {
  nav {
    position: static;
    .nav__list {
      li {
        width: 100%;
      }
    }
  }
  .header__title {
    font-size: $font-big;
  }
  .header__img--gray {
    img {
      top: 30%;
      transform: translate(-50%, 0);
      height: 30%;
      width: 80%;
    }
  }
  .header__img--color {
    img {
      height: 15%;
    }
  }
  .section-articles {
    background: none;
    width: 100vw;
    min-height: 100%;
  }
  .section-articles--bgc {
    display: none;
  }
  .section-articles {
    article {
      position: static;
      width: 90%;
      height: 80vh;
      margin: 5px;
      transition: 0;
      img {
        width: 100%;
        height: 15rem;
        transition: 0;
      }
    }
  }
  .article-1 {
    transform: none;
  }
  .article-2 {
    transform: none;
  }
  .article-1.active {
    transform: none;
    left: 0;
    top: 0;
  }
  .article-2.active {
    transform: none;
    right: 0;
    left: 0;
  }
  .section-gallery {
    min-height: 200vh;
  }
  .gallery {
    left: 0;
    top: 2%;
    transform: translate(0, 0);
    a {
      position: static;
    }
    img {
      position: static;
      width: 100%;
      height: 30%;
      box-shadow: 0 0 3px 3px $color-white; 
    }
  }
  .gallery__link-1 {
    left: 0;
    top: 0;
  }
}