@media screen and (max-width: 320px) and (orientation: portrait) {
  nav {
    position: static;
    .nav__list {
      li {
        width: 100%;
      }
    }
  }
  .header__title {
    font-size: $font-medium;
  }
}