$color-white: #fff;
$color-black: #000;
$color-1: #958179;
$color-2: #f1efed;
$color-3:#f7eeee;
$color-4: #e7d4cd;
$color-5: #8c766c;
$color-6: #7a6960;

$font-family-title: 'Roboto', sans-serif;
$font-family-article: 'Oswald', sans-serif;

$font-big: 3.6rem;
$font-medium: 2.4rem;
$font-xm: 1.8rem;
$font-regular: 1.6rem;

$font-header-title: 10rem;